.document_container {
    display: -webkit-box;
}

.docu_text {
	font-size: 23px;
    font-weight: 500;
    color: #1d1b31;
}

.react-pdf__Page__canvas{
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
    width: 360px;
    height: 509px;
}

.docu_sep {
	width: 60%;
	margin-left: 0px;
}

.document {
  	margin-left: 40px;
	margin-top: 12px;
}

.react-pdf__Document:hover .page_controls {
    opacity: 1;
}

.page_controls {
	position: absolute;
	margin-left: 180px;
	margin-top: -75px;
	background: white;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity ease-in-out 0.2s;
	box-shadow: 0 30px 40px 0px rgb(16 36 94 / 20%);
	
	border-radius: 4px;
}

.page_controls button:enabled:hover, .page_controls button:enabled:focus {
    background-color: #e6e6e6;
}

.page_controls button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page_controls button:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.page_controls button:enabled:hover {
    cursor: pointer;
}

.page_controls button {
	appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
	
	width: 44px;
    height: 44px;
    background: white;
    border: 0;
    font: inherit;
    font-size: 0.8em;
    border-radius: 4px;
}

.page_controls button:disabled {
	color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}

.page_controls span {
    font: inherit;
    font-size: 0.8em;
    padding: 0 0.5em;
}

.doc_header {
    margin-left: 40px;
    margin-top: 20px;
}

.doc_sheet {
    color: #464646;
    font-size: 25px;
    font-weight: 300;
    line-height: 0in;
}

.doc_composer {
    font-size: 20px;
    color: #707070;
    font-weight: lighter;
    line-height: 0in;
}

.doc_box {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding: 25px;
    border-radius: 15px;
    margin: 15px;
}

.sheet_info {
    float:left; /* add this */
}

.composer_info {
    float: left;
}

.right_side_doc {
    display: inline;
    margin-left: 15vw;
    margin-top: 67px;
    padding-bottom: 0;
    overflow: hidden;
}