.docu_text {
	font-size: 23px;
    font-weight: 500;
    color: #1d1b31;
    
	
}

.react-pdf__Page__canvas{
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
}

.docu_sep {
	width: 60%;
	margin-left: 0px;
}

.document {
	margin: auto;
  	width: 50%;
	margin-top: 45px;
}