# Postgres Live
# API_SECRET=98hbun98h #Used when creating a JWT. It can be anything
# DB_HOST=127.0.0.1
# DB_DRIVER=postgres
# DB_USER=username
# DB_PASSWORD=password
# DB_NAME=dbname
# DB_PORT=5432 #Default postgres port

# Postgres Test
# TestApiSecret=98hbun98h
# TestDbHost=127.0.0.1
# TestDbDriver=postgres
# TestDbUser=username
# TestDbPassword=password
# TestDbName=dbnametest
# TestDbPort=5432

# Mysql Live
API_SECRET=98hbun98h #Used when creating a JWT. It can be anything
DB_HOST=127.0.0.1
DB_DRIVER=mysql 
DB_USER=username
DB_PASSWORD=password
DB_NAME=dbname
DB_PORT=3306 #Default mysql port

# Mysql Test
TestApiSecret=98hbun98h
TestDbHost=127.0.0.1
TestDbDriver=mysql
TestDbUser=username
TestDbPassword=password
TestDbName=dbname_test
TestDbPort=3306