.tags_page .dot {
	margin-top: 17px;
	margin-right: 15px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
}

.tags_page .header {
	margin-top: 10px;
	display: flex;
	width: 50%;
	margin-left: 42%;
	margin-right: 50%;
}

.tags_page .header h1{
	font-family: "Poppins";
	font-weight: 600;
}
