.seperator {
    border-top: 1px solid #ccc;
    margin-left: 15px;
	width: 287px;
}

.space {
    padding-top: 12px;
}

.lost-image-container {
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.lost-image {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.lost-text-header {
    font-size: 30px;
    font-weight: 400;
}

.lost-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
}


.home-page-wrapper {
    word-wrap: break-word;
    overflow-x: auto;
}