li {
	display: inline-block;
	whitespace: normal;
}

.middle-part-container {
	display: flex;
}

.auto-margin {
	margin-left: auto;
	margin-right: auto;
	width: 74%;
}

.sheets-wrapper {
	word-wrap:break-word;
	overflow-x: auto;	
}

.full-height {
	display: block;
	width: 77%;
    margin: auto;
}

.page-info-wrapper {
	text-align: center;
	padding-bottom: 15px;
}

.page-info-wrapper span {
	font-weight: 300;
}

.page-info-wrapper b {
	font-weight: 500;
}

.page-info-wrapper svg {
	margin-right: 5px;
}

.page-info-wrapper svg:hover {
	cursor: pointer;
}

.disabled {
	cursor: no-drop !important;
}

.svg-2 {
	margin-right: 0;
	margin-left: 5px;
}

.rand-piece {
	margin-right: 15px;
	margin-top: 19px;
	
	width: 230px;
	height: 350px;
	text-align: center;
}

.rand-piece span {
	font-size: 17px;	
	font-weight: lighter;
}