li {
	display: inline-block;
	whitespace: normal;
}

.middle-part-container {
	display: flex;
}

.auto-margin {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.sheets-wrapper {
	word-wrap:break-word;
	overflow-x: auto;	
}

.full-height {
	display: block;
	width: 77%;
    margin: auto;
}

.page-info-wrapper {
	text-align: center;
	padding-bottom: 15px;
}

.page-info-wrapper span {
	font-weight: 300;
}

.page-info-wrapper b {
	font-weight: 500;
}

.page-info-wrapper svg {
	margin-right: 5px;
}

.page-info-wrapper svg:hover {
	cursor: pointer;
}

.disabled {
	cursor: no-drop !important;
}

.svg-2 {
	margin-right: 0;
	margin-left: 5px;
}

.rand-piece {
	margin-right: 15px;
	margin-top: 18px;
	background-color: #E8E8E8;
	
	width: 230px;
	height: 430px;
	text-align: center;
}

.rand-piece-span{
	padding-top: 15px;
	color: #464646;
    font-size: 22px;
    font-weight: 300;
}

.loading-animation-rand {
	display: block;
	
	margin: auto;
	margin-top: 30%;
	width: 100px;
}

.rand-img {
	width: 230px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
}
.rand-piece .sheet-name {
	font-size: 17px;
}

.rand-piece .sheet-composer {
	font-size: 13px;
}