@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  color: #525FFB;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
}

header h2 {
  line-height: 0em;
}

header button {
  font-family: 'Poppins';
  color: #525FFB;
  background-color: white;
  border-color: #525FFB;
  border-radius: 35px;
  line-height: 0em;
  padding: 0 20px;
  font-weight: 500;
  height: 40px;
  border-width: 1px;
}

button:hover {
  cursor: pointer;
}