/* No highlight selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}           

.box {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;

  width: 150px;
  height: 150px;
}

.home_content{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: whitesmoke;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;


  display: flex;
	overflow: auto; 
	
}

.overflow-scroll {
  overflow-x: scroll;
}

.home_content .text{
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}

.cursor:hover {
  cursor: pointer;
}

/* Effects */
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  cursor: pointer; 
}
.ripple:active {
  background-color: #DCDCDC;
  background-size: 100%;
  transition: background 0s;
}


/* Remove Shadow Effect */
.remove_shadow:hover {
  cursor: pointer;
}

.remove_shadow:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}

.box_shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}