.forgot-password-container {
	height: 100vh;
	position: relative;
	background-color: whitesmoke;
}

.forgot-password-container .card {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
	width: 450px;
	height: 240px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}

.forgot-password-container h1 {
	font-weight: 600;
	color: #506bec;
}

.forgot-password-container h2 {
	font-weight: 400;
	font-size: medium;
}

.forgot-password-container .email-input {
	
	margin-top: 0px;
	width: 250px
}

.forgot-password-container .btn-container {
	
}

.forgot-password-container .btn {
	margin-top: 15px;
	
	
	flex: 1;
	background-color: #506bec;
	color: white
}

.forgot-password-container .btn:hover {
	background-color: #8092e9;
	color: white
}