.composer-page {
	width: 100%;
	text-align: center;
}

.composer-page img {
	width: 150px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border-radius: 350px;
  	width: 230px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
	margin-top: 35px;
}

.composer-page h5 {
	font-size: 23px;
	font-weight: 300;
	font-family: 'Poppins';
}

.composer-page h6 {
	font-size: 18px;
	font-weight: lighter;
	line-height: 0.2em;
	color: rgb(71, 71, 71);
}